* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
}
#main {
    width: 100%;
    height: 100%;
}
.herosection {
    width: 100%;
    height: 50vh;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    z-index: -1;
}
.nextsection {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 200px !important;
    border-radius: 10px !important;
    box-shadow: 0 3px 12px rgba(0,0,0,0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -100px;
    z-index: 9;
    background-color: #fff;
}
form {
    width: 80% !important;
    padding: 20px;
}
.number-range__slider {
    position: relative;
    z-index: 1;
}
.number-range__button {
    position: absolute;
    top: 0;
    z-index: 1;
    background: #0054a6;
    color: #fff;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.25rem;
    width: 2.25rem;
    border-radius: 50%;
    border: 0;
    cursor: pointer;
    line-height: 1em;
}
.number-range__slider:after {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: calc(50% + 13px);
    z-index: 0;
    width: 100%;
    height: 8px;
    background: #50B1B3;
}
.number-range__button.is-end {
    right: 0;
}
.col.p-2.m-2.text-center {
    display: flex !important;
    flex-direction: column !important;
    margin-left: auto !important;
    margin-right: auto !important;
    padding: 24px !important;
}
.birthday-options {
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    width: 100%;
}
.g-1 {
    margin-right: -0.5rem;
    margin-left: -0.5rem;
}
.text-1 {
    font-size: 16px;
}
.select {
    width: 100%;
    height: unset;
    border: 1px solid #0054a6;
    border-radius: 2rem;
    background-color: #fff;
    background-image: url(/multimedia/icon-arrow-down-blue.svg) !important;
    background-size: 7px 4px !important;
    background-repeat: no-repeat !important;
    background-position: center right 1rem !important;
    padding: 0.5rem 2rem 0.5rem 1rem;
    color: #0054a6;
    font-size: 14px;
    line-height: 1em;
}
.justify-content-center {
    justify-content: center;
}
.align-items-center {
    align-items: center;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -1rem;
    margin-left: -1rem;
}
.text-blue {
    color: #005eb8 !important;
}
.col-12 {

    -ms-flex: 0 0 100%;
    flex: 0 0 22% !important;
}